!!! 5
%head
  %title MG Pottery
  %script(src="http://code.jquery.com/jquery-2.0.3.min.js")
  %link(rel="stylesheet" type="text/css" href="/stylesheets/app.css")
  %link(rel="shortcut icon" href="/images/favicon.ico")
%body
  %header
    %h1= Maria Gilmanova
  %nav
  .content
    = yield
  %script(src="/javascripts/app.js")
