html {
  height: 100%; }

body {
  font-family: American Typewriter;
  margin: 0;
  height: 100%;
  background-color: #007383;
  background-image: url("/images/glazur.jpg");
  background-size: 100% 100%; }

header {
  color: white;
  background-color: rgba(169,213,222,0.6);
  height: 80px;
  position: relative; }
  header h1 {
    font-weight: normal;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    width: 100%;}

header:hover {
  background-color: rgba(0,115,131,0.6);
  cursor: pointer; }

nav {
  width: 800px;
  height: 100px;
  position: relative;
  margin: auto;
  color: white;
}

nav .photos {
  position: absolute;
  left: 200px;
  background-color: rgba(229,223,133,0.6);
}

nav .pottery {
  position: absolute;;
  left: 300px;
  background-color: rgba(249,180,208,0.6);
}

nav .aboutme {
  position: absolute;
  left: 400px;
  background-color: rgba(160,227,187,0.6);
}

nav .contacts {
  position: absolute;
  left: 500px;
  background-color: rgba(77,183,199,0.60);
}

nav .circle100 span {
  color: white;
  text-decoration: none;
  top: 40px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.circle100 {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.circle30 {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  text-align: center;
  position: relative;
  background-color: rgba(229,223,133,0.6);
  z-index: 1;
}
.circle30.active {
  background-color: rgba(249,180,208,0.6);
}
.circle30 span {
  position: absolute;
  top: 6px;
  left: 6px;
}
.content {
  width: 800px;
  margin: auto;
}

